<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>Music Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script defer src="script.js"></script>

  </head>
  <body>
    <div class="start-page" style='font-size: 50px; font-family: "Times New Roman", Times, serif;'>
      <h1>Semantic Musik Quiz</h1>
      {{{body}}}
    </div>
  </body>
</html>