<h3 class="topic">Choose a user and then get started!</h3>
<form action="http://localhost:3000/question">
<select name="username" id="userID">
  {{#each users}}
    <option value="{{id}}">{{name}}</option>
	{{/each}}
</select>
<br />

<input type="hidden" id="current_index" value=0 name="current_index"/>
<input type="submit" id="startBtn" Value="Begin the quiz!" class="btn" style='font-family: "Lucida Console", "Courier New", monospace;'/>
</form>