<h3 class="topic">Choose a user and than get started!</h3>
<form action="http://localhost:3000/question">
<select name="username" id="userID">
  <option value="Rock-Lover">Rock Lover</option>
  <option value="Pop-enthusiast">Pop Enthusiast</option>
  <option value="Classic-adminer">Classic Adminer</option>
  <option value="Alternative-addict">Alternative Addict</option>
  <option value="Know-IT-All">Know-IT-All</option>
</select>
<br />

<input type="hidden" id="current_index" value=0 name="current_index"/>
<input type="submit" id="startBtn" Value="Begin the quiz!" class="btn" style='font-family: "Lucida Console", "Courier New", monospace;'/>
</form>