<h3>Choose a user and than get started!</h3>
<form action="">
<select name="userID" id="cars">
  <option value="0">Rock Lover</option>
  <option value="1">Pop enthusiast</option>
  <option value="2">Classic adminer</option>
  <option value="3">Alternative addict</option>
  <option value="4">Know-IT-All</option>
</select>
<br />
<br />
<input type="button" id="startBtn" Value="Begin the quiz!" />
</form>